*{
    margin:0;
    padding: 0;
}
body h1{
    margin-top: 20px;
}
body{
    background-color:#444554;
    color: white;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    background-color: #E5D0CC;
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    font-size: 8vmin;
    color: #7D4F50;
    box-shadow:0,0,1 rem rgba(0,0,0,0.1);
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius :1rem; 
    background-color:  #CC8B86;
    border:none;
}

#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius :1rem; 
    background-color:  #CC8B86;
    border:none;
}
#msg{
    font-size: 8vmin;
    color: #ffe8d6;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display:none;
}